/AllTests.class
/Circle.class
/Perimeter.class
/PerimeterTest.class
/PerimeterTest2.class
/Rectangle.class
/RectangleTest.class
/RectangleTest2.class
/TestArea.class
/TestCircleArea.class
/TestCircleArea2.class
